body{
    margin: 0px;
    font-family: 'Cinzel', serif;
}
h1{
    font-size: 40px;
}
span{
    color: red;
}
.moonknight{
    float: left;
    width: 35%;
    margin: 5%;
    padding-left: 10px;
}
.moonknight img{
    width: 100%;
}
.background{
    background-repeat: no-repeat;
    background-image: url(images/top-banner.png)
}
section{
    height: 500px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, tomato,red);
    padding: 10px 25px ;
    border-radius: 10px ;
    font-weight: bold;
    color: aliceblue;


}
.pro{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat ;
    background-position: right ;
    padding-bottom: 25%;
   
    
}